:root {
	--bg-color: #3a3037;
	--dark-gray: #575156;
	--gray: #838b89;
	--tan: #d8cbb2;
	--white: #edece0;
}

body {
	background-color: var(--bg-color);
	background-image: linear-gradient(to right, var(--bg-color), var(--dark-gray), var(--bg-color));
	color: var(--tan);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	height: 20%;
	border-radius: 5%;
	background-color: var(--dark-gray);
}
nav > button {
	width: 20%;
	height: 85%;
}

button {
	background-color: var(--bg-color);
	color: var(--white);

	border: 2px solid var(--tan);
}
button:hover {
	background-color: var(--dark-gray);
}
button:disabled {
	background-color: var(--tan);
}

a {
	color: var(--white);
}
button:disabled > a {
	color: var(--bg-color);
}

@media (min-width: 800px) {
	button > a {
		font-size: 200%;
		transition-duration: 0.3s;
	}
}
@media (max-width: 350px) {
	button > a {
		font-size: 45%;
		transition-duration: 0.3s;
	}
}
@media (max-width: 500px) {
	label {
		font-size: 0.66em !important;
	}
}

img {
	max-width: 20em;
	max-height: 20em;
	border: 0.5em solid black;
}

.center-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.form-input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	gap: 1em;
	margin: 1em;
}

form {
	margin: 2em;
	font-size: large;
}
label {
	font-size: 2em;
}
input {
	background-color: var(--white);
	border: 2px solid var(--bg-color);
	box-shadow: 2px 3px black;
}
input[type=submit] {
	padding: 0.5em;
}